data/
backend/venv/
backend/nohup.out
backend/database.yaml
.ipynb_checkpoints
notebooks/

venv/
scripts/config.ini

.vscode
frontend/.vscode

### FRONTEND

*/node_modules
*/.nuxt
*/.env
*/.editorconfig
# macOS
.DS_Store


### Node template
# Logs
*/logs
*/*.log
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*

# Compiled binary addons (https://nodejs.org/api/addons.html)
*/build/Release

# Optional npm cache directory
*/.npm

# Nuxt generate
*/dist

# Jekyll
docs/_site
docs/.sass-cache
docs/.jekyll-metadata
docs/Gemfile.lock
